{{- if (index (default dict .tools) "chezmoi") -}}
alias che='chezmoi'
alias checd="cd $XDG_DATA_HOME/chezmoi/"
alias checonfig="vim $XDG_CONFIG_HOME/chezmoi/chezmoi.toml"
alias cheext="vim $XDG_DATA_HOME/chezmoi/.chezmoiexternal.toml"

chetempx(){
    cat "$1" | chezmoi execute-template
}

chetempv(){
    cat $(chezmoi source-path "$1")
}
# auto detect chezmoi managed files when opening with vim
vim() {
  if [ $# -eq 0 ]; then
    command vim
    return
  fi

  local file="$1"

  # normalize path (important)
  file="$(realpath "$file" 2>/dev/null || echo "$file")"

  if chezmoi source-path "$file" >/dev/null 2>&1; then
    chezmoi edit --apply "$file"
  else
    command vim "$@"
  fi
}

alias vvim='command vim'
{{- end }}
