{{- if (index (default dict .tools) "eza") -}}
####
#  https://github.com/eza-community/eza-themes
#  install eg: `brew install coreutils eza`
#  dir themes at ~/.config/dir_colors (assign theme with DIR_COLOR_THEME)
#  eza themes at ~/.config/eza/theme.yaml
####
export DIR_COLOR_THEME="dircolors.trapdoor"
export EZA_CONFIG_DIR="$XDG_CONFIG_HOME/eza"

export DIR_COLOR_CONFIG="$XDG_CONFIG_HOME/dir_colors"
export DIR_COLOR_THEME="dircolors.trapdoor"

alias lta='lt --all'
alias t='tree'

{{- if eq .chezmoi.os "darwin" }}
# on macos, coreutils installs dircolors as gdircolors
alias dircolors="gdircolors"
{{- end }}

eval `dircolors $DIR_COLOR_CONFIG/$DIR_COLOR_THEME`

# We need to run this^ command to ensure
# ZSH and GNU dircolors ('gdircolors' cmd)
# properly load the Solarized GNU ls ('gls' cmd) color
# database file. The color scheme is stored in a database
# file readable by GNU dircolors.
#
# Credit for the Solarized Dark color database goes to
# seebi: https://github.com/seebi/dircolors-solarized
{{- end }}
