alias vzsh='vim ~/.zshrc'
alias czsh='cat ~/.zshrc'
alias ohmy="cd $ZSH_CUSTOM"

{{- if eq .zsh.ZSH_PLUGIN_MGR "ohmyzsh" }}
alias vohmy="vim $ZSH/oh-my-zsh.sh"
alias cohmy="cat $ZSH/oh-my-zsh.sh"
# Re source Zsh
alias zsrc='omz reload'
{{- else }}
alias zsrc="source $HOME/.zshrc"
{{- end }}

alias cleanzsrc="rm $ZSH_COMPDUMP && zsrc"

function whencealias() {
  if [[ -n $1 ]]; then
    echo "=== zsh resolution ==="
    whence -v $1

    echo "\n=== definition trace ==="
    PS4='+%x:%I>' zsh -i -x -c '' |& grep -w -- "$1"
  fi
}

alias bench='/usr/bin/time zsh -i -c exit'
function bigbench() {
  for i in $(seq 1 10); do /usr/bin/time /bin/zsh -i -c exit; done;
}

timezsh() {
  shell=${1-$SHELL}
  for i in $(seq 1 10); do /usr/bin/time $shell -i -c exit; done
}

zprofiler() {
  time ZSH_DEBUGRC=1 zsh -i -c exit
}

# File search functions
function f() { find . -iname "*$1*" ${@:2} }
function r() { grep "$1" ${@:2} -R . }

# Create a folder and move into it in one command
function mkcd() { mkdir -p "$@" && cd "$_"; }


# open vscode
funciton vs () {
  open -na "Visual Studio Code.app" --args "$(pwd)/$1";
}

{{- if (index (default dict .tools) "iterm") }}
function iterm-semantic-history () {
    # Excluded values
    local excluded=(
    	.DS_Store
	.CFUserTextEncoding
	.zsh_history.backup
	.zsh_history
	img
	jpg
	dmg
	zip
  plist
	.localized
    )

    if (($excluded[(Ie)$1:t] || $excluded[(Ie)$1:t:e])); then
	return 1
    fi

    if [[ -d $1 ]]; then
        cd $1 && ll
    elif [[ -f $1 ]]; then
        cat $1
    else
        echo "$1 - value is probably not a directory or file"
    fi
}
{{- end }}
