{{- if eq (index . "type") "work" }}
alias tool="cd $HOME/Volumes/Tools"
alias tools="tool"

SITES="$HOME/Volumes/Sites"
alias sites="cd $SITES"
alias site="sites"
alias lc="cd $SITES/lc"
alias web="cd $SITES/web"
alias lc2="cd $SITES/lc2"
alias lc3="cd $SITES/lc3"
{{- end }}
