{{- $profile := printf "%s-%s" .chezmoi.os .chezmoi.hostname }}
# Settings profile: {{- $profile }}

# default global configs
{{ includeTemplate ".chezmoitemplates/config_defaults" . }}

# loading template config_{{ $profile }}
{{ includeTemplate (printf ".chezmoitemplates/config_%s" $profile) . }}

