[data]
    profile='{{ .chezmoi.os }}-{{ .chezmoi.hostname }}'
[git]
    autoCommit = true
    autoPush = true

[data.xdg]
    CONFIG = '.config'
    CACHE = '.cache'
    STATE = '.local/state'
    DATA = '.local/share'
{{- if eq (index . "profile") "darwin-BAC-USA500144ML" }} 
{{ template "darwin_darwin-BAC-USA500144ML" .  }} 

{{- else if eq (index . "profile") "darwin-Michaels-MBP"  }} 
{{ template "config_darwin-Michaels-MBP" .  }} 

{{- else if eq (index . "profile") "linux-rock-nasty"  }} 
{{ template "config_linux-rock-nasty" .  }} 

{{- else  }} 
{{ template "config_defaults" .  }} 

{{- end }}
