# default global configs
{{ template "config_defaults" .  }}

{{- if eq (index . "profile") "darwin-BAC-USA500144ML" }} 
# work - M4 - darwin_darwin-BAC-USA500144ML
{{ template "darwin_darwin-BAC-USA500144ML" .  }} 

{{- else if eq (index . "profile") "darwin-Michaels-MBP"  }} 
# personal M3 laptop 
{{ template "config_darwin-Michaels-MBP" .  }} 

{{- else if eq (index . "profile") "linux-rock-nasty"  }} 
# PI NAS
{{ template "config_linux-rock-nasty" .  }} 

{{- else  }} 
# just in case
{{ template "config_fallback" .  }} 

{{- end }}
