# zprof for profiling/benchmakring zsh load times and bottelnecks
# zmodload zsh/zprof
#
export PATH=$HOME/bin:/usr/local/bin:$PATH

export ZSH={{- .zsh.ZSH }}
export ZSH_THEME={{- .zsh.ZSH_THEME }}
export ZSH_CUSTOM=$HOME/{{- .zsh.ZSH_CUSTOM }}

{{- if eq .zsh.ZSH_THEME "powerlevel10k/powerlevel10k" }}
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
[[ ! -f ~/.config/powerlevel10k/.p10k.zsh ]] || source ~/.config/powerlevel10k/.p10k.zsh

{{- end }}

{{ if eq .zsh.ZSH_PLUGIN_MGR "ohmyzsh" }}
plugins=(
    before-plugins
    fzf-tab
    gitfast
    zsh-autosuggestions
    fast-syntax-highlighting
    zsh-eza
    history
    history-sync
    kubectl
    terragrunt
)
source $ZSH/oh-my-zsh.sh

{{- end }}

# auto complete zstyles and customizations
source $XDG_CONFIG_HOME/zsh/.zstyles

#zprof
