export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export EDITOR=vim

export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/{{- .xdg.CONFIG }}}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-$HOME/{{- .xdg.CONFIG }}}"
export XDG_STATE_HOME="${XDG_STATE_HOME:-$HOME/{{- .xdg.STATE }}}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/{{- .xdg.DATA }}}"

export ZSH_CACHE_DIR="$XDG_CACHE_HOME/zsh"
export ZSH_STATE_DIR="$XDG_STATE_HOME/zsh"
export ZSH_COMPDUMP="$ZSH_CACHE_DIR/compdump/zcompdump-${USER// /-}-$ZSH_VERSION"

HOMECONFIG=$XDG_CONFIG_HOME

{{- if (index (default dict .tools) "drunk_zsh_history") }}
ZSH_HISTORY_FILE=$HISTFILE
ZSH_HISTORY_PROJ="$XDG_CONFIG_HOME/drunk_zsh_history"
ZSH_HISTORY_FILE_ENC="$ZSH_HISTORY_PROJ/zsh_history"
GIT_COMMIT_MSG="latest $(date)"
{{- end }}
