#!/bin/sh
set -eu

# Force chezmoi to track these template files as dependencies.
# Their contents become part of the rendered script checksum.

cat >/dev/null <<'EOF'
{{- range .profiles }}
  {{- $name := printf "config_%s" . }}
  {{- includeTemplate (printf ".chezmoitemplates/%s" $name) $ }}
{{- end }}
EOF

echo "Regenerating chezmoi config..."

chezmoi execute-template < \
  "{{ .chezmoi.sourceDir }}/chezmoi_config_bootstrap.tmpl" \
  > "{{ .chezmoi.configFile }}"
